<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>
<body>
      <div><br><br><br><br>
<div class="canle-thongtin">
    <strong><a href="/diemchuanbk-ganday">Xem Điểm Chuẩn Trường Đại Học Bách Khoa Đà Nẵng Những Năm Gần Đây</a></strong><br><br>

  <section>
  <p>Thứ bảy, 17/06/2023 15:01 (GMT+7)</p>
   <h1>


Trường Đại học Bách khoa, Đại học Đà Nẵng vừa công bố điểm chuẩn trúng tuyển có điều kiện theo phương thức xét học bạ và điểm thi đánh giá năng lực.</h1>
    <br>
    <p>
Với phương thức xét tuyển bằng học bạ, điểm chuẩn dao động từ 18,68 - 28,4 điểm.

Ngành kỹ thuật máy tính có điểm chuẩn cao nhất, 28,4 điểm. Ngành Kỹ thuật xây dựng công trình thuỷ có điểm chuẩn thấp nhất, 18,68 điểm.

Chi tiết điểm chuẩn trúng tuyển như sau: 
   </p>
    <img alt="" src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2023/6/17/1205859/Diem--Chuan-Hoc-Ba.jpeg" width="800" height="1100">
    <p>
       <i>Điểm chuẩn học bạ Trường Đại học Bách khoa, Đại học Đà Nẵng năm 2023. Ảnh: Nhà trường cung cấp</i>
      </p>
      <p>Với phương thức xét điểm thi đánh giá năng lực của Đại học Quốc gia TPHCM, ngành Công nghệ thông tin (Đặc thù - Hợp tác doanh nghiệp), chuyên ngành Khoa học dữ liệu và Trí tuệ nhân tạo có điểm chuẩn cao nhất, 979,6 điểm.

Ngành Kỹ thuật xây dựng, chuyên ngành Xây dựng dân dụng và Công nghiệp có điểm chuẩn thấp nhất, 602 điểm.

Chi tiết điểm chuẩn trúng tuyển như sau:</p>
<img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2023/6/17/1205859/Diem-Chuan-Dgnl.jpeg" width="800" height="1100">
<br><br>
<p><i>Điểm chuẩn trúng tuyển Trường Đại học Bách khoa, Đại học Đà Nẵng theo phương thức xét điểm thi đánh giá năng lực do Đại học Quốc gia TPHCM tổ chức. Ảnh: Nhà trường cung cấp</i></p>


  
  <p>Nhà trường lưu ý, thí sinh cần đăng ký ngành/chuyên ngành trúng tuyển có điều kiện ở trên vào hệ thống tuyển sinh của Bộ Giáo dục và Đào tạo để được xét trúng tuyển chính thức. Thí sinh chỉ trúng tuyển chính thức khi có đồng thời 3 điều kiện sau:<br>

Điều kiện 1: Tốt nghiệp THPT<br>

Điều kiện 2: Đăng ký ngành/chuyên ngành trúng tuyển có điều kiện ở trên vào hệ thống.<br>

Điều kiện 3: Ngành/chuyên ngành trúng tuyển có điều kiện ở trên là nguyện vọng cao nhất trong số các nguyện vọng đủ điều kiện trúng tuyển thí sinh đã đăng ký vào Hệ thống.

</p>
  </section>


 <br>
 <br>
  </div>
  </div> 
</body>
</html>