<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="user/homepage::layout(~{::div})">

<body>

  
        <!-- main-content------- -->

        <div class="content-area">
            <!--<div class="story-gallery">
                <div class="story story1">
                    <img src="images/upload.png" alt="">
                    <p>Post Story</p>
                </div>
                <div class="story story2">
                    <img src="images/member-1.png" alt="">
                    <p>Alison</p>
                </div>
                <div class="story story3">
                    <img src="images/member-2.png" alt="">
                    <p>Jackson</p>
                </div>
                <div class="story story4">
                    <img src="images/member-3.png" alt="">
                    <p>Samona</p>
                </div>
                <div class="story story5">
                    <img src="images/member-4.png" alt="">
                    <p>John</p>
                </div>
            </div>-->

            
            <div class="status-field-container write-post-container" >
                <div class="user-profile-box">
                    <div class="user-profile">
                        <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/307016476_617796436536611_7110707510230072284_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=h332Ek6u7sIAX-e1DsZ&_nc_ht=scontent.fdad1-3.fna&oh=00_AfBFjDOy1zySMp2YrOY9cZr4LGtVicoq4zANeJ3PAmvrNA&oe=6487578F" alt="">
                        <div>
                            <p>Trường Đại Học Công Nghệ Thông Tin Và Truyền Thông Việt Hàn</p>
                            <small>Thứ Sáu - 09/06/1023 22:10</small>
                        </div>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
                <div class="status-field">
                    <p>️🔥🔥🔥HOT HOT HOT🔥🔥🔥<br>
                        🎉️🎉️🎉CHÚC MỪNG 55 ĐỘI THI BWD 2023 ĐÃ XUẤT SẮC VƯỢT QUA VÒNG LOẠI 1 CUỘC THI BEST WEB DESIGN 2023🎉️🎉️🎉
                        <br>-------------------------------------<br>
                        📍Vừa qua ngày 3/6/2023 với sự đón nhận gần 400 website của gần 1000 sinh viên năm nhất trường VKU, vòng 1 cuộc thi Best Web Design 2023 đã diễn ra thành công tốt đẹp.
📍Trải qua gần một ngày để chấm điểm các sản phẩm dự thi từ các đội, Hội đồng Giám khảo - những người cầm cân nảy mực đã rất khó khăn khi đưa ra những quyết định, lựa chọn bởi vì các sản phẩm dự thi đều rất xuất sắc và nổi bật.
Thế nhưng, cuộc thi nào cũng phải có những đội đi tiếp và ở lại. Vì thế, dù bị loại nhưng sản phẩm của các bạn đã làm rất tốt trong cuộc thi lần này rồi, chúc mừng các bạn.
🏵️Xin chúc mừng 55 đội đã mang đến những sản phẩm xuất sắc và vô cùng nổi bật đã vượt qua vòng 1 của cuộc thi Best Web Design 2023 (Danh sách đính kèm link bên dưới)
⚠️Xin chúc mừng các đội vào vòng tiếp theo và hãy cùng các đồng đội của mình chuẩn bị thật tốt để trở lại cho chặng đường mới nhé!!!
<br>-------------------------------------<br>
🔗Danh sách 55 đội thi vượt qua vòng 1: 
                <a href="https://bit.ly/BWD_2023_KQ_SL1">https://bit.ly/BWD_2023_KQ_SL1</a><br>
⏰Dự kiến Vòng 2: 8h00 Thứ 7, ngày 24 tháng 6 năm 2023<br>
 📣Hình thức: Offline, danh sách hội đồng thi sẽ sớm cập nhật và thông báo về cho các đội thi.
 <br>-------------------------------------<br>
 📬 Mọi chi tiết xin vui lòng liên hệ với Ban tổ chức theo địa chỉ: <br>
     🏣Khoa Khoa học máy tính, trường Đại học Công nghệ Thông tin và Truyền thông Việt – Hàn, Đại học Đà Nẵng<br>
     📍Phòng V.B104, Khu đô thị Đại học Đà Nẵng, phường Hòa Quý, quận Ngũ Hành Sơn, Đà Nẵng.<br>
                      <a href="#">#bwd2023</a>
                    
                    </p>
                    <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/352136049_917727462645311_5338278218889212205_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=XV15SJNx7dsAX-iN9j6&_nc_ht=scontent.fdad2-1.fna&oh=00_AfCIrV65fXWohqtCZqt0xMBI8UA7YPwaedX9Q3SucPqb9Q&oe=6487721F" alt="">

                </div>
                <div class="post-reaction">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt="">120</div>
                        <div><img src="/images/comments.png" alt="">52</div>
                        <div><img src="/images/share.png" alt="">35</div>
                    </div>
                    <div class="post-profile-picture">
                        
                    </div>
                </div>
            </div>
            <div class="status-field-container write-post-container">
                <div class="user-profile-box">
                    <div class="user-profile">
                        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/3/3a/Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_Ngo%E1%BA%A1i_ng%E1%BB%AF%2C_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_%C4%90%C3%A0_N%E1%BA%B5ng.svg/1200px-Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_Ngo%E1%BA%A1i_ng%E1%BB%AF%2C_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_%C4%90%C3%A0_N%E1%BA%B5ng.svg.png" alt="">
                        <div>
                            <p>Trường Đại Học Ngoại Ngữ Đà Nẵng</p>
                            <small>Thứ Sáu - 26/05/2023 10:06</small>
                        </div>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
                <div class="status-field">
                    <p>Cuộc thi hùng biện Ngoại ngữ dành cho học sinh THPT Thành phố Đà Nẵng năm 2023<a
                            href="#">#This_Post_is_Bigger!!!!</a> </p>
<iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" src="https://www.youtube.com/embed/Tr8VU1kkCEs" width="640"></iframe>                    

                </div>
                <div class="post-reaction">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt="">120</div>
                        <div><img src="/images/comments.png" alt="">52</div>
                        <div><img src="/images/share.png" alt="">35</div>
                    </div>
                    <div class="post-profile-picture">
                        
                    </div>
                </div>
            </div>
            <div class="status-field-container write-post-container">
                <div class="user-profile-box">
                    <div class="user-profile">
                        <img src="https://ued.udn.vn/uploads/photos/images/2021/04/logo-nha-truong/logo-2021.jpg" alt="">
                        <div>
                            <p>Trường Đại Học Sư Phạm Đà Nẵng</p>
                            <small>Thứ năm - 18/05/2023 10:06</small>
                        </div>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
                <div class="status-field">
                    <p>🌏🌏🌏Thực tế ngôn ngữ và văn hóa cho LHS học Chương trình tiếng Việt dành cho người nước ngoài tại Trường Đại học Sư phạm – ĐHĐN🌏🌏🌏<br>
        Ngày 17.5, Nhằm mục đích trau dồi kỹ năng sử dụng tiếng Việt được học tập tại trường, đồng thời trải nghiệm thực tế để Lưu học sinh Lào hiểu thêm về văn hóa, đất nước, con người Việt Nam, Trường Đại học Sư phạm – Đại học Đà Nẵng (ĐHĐN) đã tổ chức thực tế ngôn ngữ và văn hóa cho các LHS đang theo học Chương trình tiếng Việt dành cho người nước ngoài.<br>
        Trong chuyến tham quan, các LHS đã được thăm quan hoạt động trải nghiệm tại Làng rau Trà Quế - Một trong những địa điểm du lịch Hội An thú vị, cơ hội trải nghiệm công việc của một nông dân đích thực, nơi hiện tại vẫn còn duy trì phương pháp trồng rau hữu cơ từ xa xưa.<br>
        Tại Làng gốm Thanh Hà, LHS đã lạc vào một miền quê yên bình, mải mê ngắm nhìn những tác phẩm nghệ thuật được thổi hồn bởi người nghệ nhân tài hoa, khám phá lịch sử lâu đời của Làng và trải nghiệm quy trình làm gốm tại đây.<br>
        Cùng ngày, đoàn thực tế đã được tham quan Quần thể thắng cảnh Ngũ Hành Sơn - tuyệt tác về cảnh quan thiên nhiên mà tạo hóa ban tặng cho vùng đất Đà Nẵng. Có vẻ đẹp hài hòa của vùng sinh thái tự nhiên đan xen cùng với đời sống văn hóa tâm linh; Bảo tàng điêu khắc Chăm Đà nẵng - nơi bảo tồn và phát huy giá trị di sản văn hóa về thời kỳ hưng thịnh của Vương quốc Chăm Pa cổ xưa.<br>
        Ngoài việc tìm hiểu các giá trị văn hóa truyền thống, các LHS được trực tiếp giao lưu với người dân địa phương bằng tiếng Việt một cách tự tin, trôi chảy. Thể hiện chương trình giáo dục tiếng Việt cho sinh viên nước ngoài tại các Trường Đại học Sư phạm - ĐHĐN có chất lượng tốt, sát thực tiễn, đảm bảo cho LHS sẽ học tốt các chuyên ngành các em lựa chọn.<br>
        Chuyến tham quan, học tập thực tế đã đem lại sự phấn khởi của các LHS. Kết quả thu được qua hoạt động học tập, trải nghiệm thực tế giúp LHS đang học tập tại Nhà trường có cơ hội tìm hiểu về lịch sử, phong tục tập quán, văn hóa của con người Quảng Nam – Đà Nẵng. Đồng thời động viên, khuyến khích tinh thần học tập của các LHS đang học tập tại Nhà trường ra sức phấn đấu học tập và rèn luyện để đạt kết quả tốt hơn trong thời gian tới.<br>
                                                                               --------------------------------------<br>
TRƯỜNG ĐẠI HỌC SƯ PHẠM, ĐHĐN (UED)<br>
🌎 Website: http://tuyensinh.ued.udn.vn <br>
💎 Fanpage: Trường Đại học Sư phạm - Đại học Đà Nẵng.<br>
📧 Email: tuyensinh@ued.udn.vn<br>
☎️ Điện thoại: 0898 204 204<br>
🏠 Địa chỉ: 459 Tôn Đức Thắng, Hòa Khánh Nam, Liên Chiểu, Đà Nẵng<a></a> </p>
                    <img src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/347786777_199922676241922_7184282295442861447_n.jpg?stp=dst-jpg_p600x600&_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=3kT2YgNTiDYAX_kAq39&_nc_ht=scontent.fdad1-4.fna&oh=00_AfAGyO56NZWXtkbg-IMDdwK44-Ws2VFOv3ywaLecn1rp2A&oe=648DBB8E" alt="">

                </div>
                <div class="post-reaction">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt="">120</div>
                        <div><img src="/images/comments.png" alt="">52</div>
                        <div><img src="/images/share.png" alt="">35</div>
                    </div>
                    <div class="post-profile-picture">
                       
                    </div>
                </div>
            </div>
            <div class="status-field-container write-post-container">
                <div class="user-profile-box">
                    <div class="user-profile">
                        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/f/f4/Logo_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_%C4%90%C3%A0_N%E1%BA%B5ng.svg/768px-Logo_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_%C4%90%C3%A0_N%E1%BA%B5ng.svg.png?20230315073827" alt="">
                        <div>
                            <p>Đại Học Đà Nẵng</p>
                            <small>Thứ năm - 19/05/2023 18:00</small>
                        </div>
                    </div>
                    <div>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
                <div class="status-field">
                    <p>Đợt thi 2 (5/4-28/5/2023): Đối với đợt thi thứ 2, thí sinh sẽ đăng ký dự thi từ ngày 5 đến 28-4-2023, thi vào ngày 28-5-2023. Kết quả sẽ được công bố vào ngày 6-6. <a
                            href="#"></a> </p>
                    <img src="https://butbi.hocmai.vn/wp-content/uploads/2022/06/dang-ky-thi-danh-gia-nang-luc-2023-tphcm-1a.jpg" alt="">

                </div>
                <div class="post-reaction">
                    <div class="activity-icons">
                        <div><img src="/images/like-blue.png" alt="">120</div>
                        <div><img src="/images/comments.png" alt="">52</div>
                        <div><img src="/images/share.png" alt="">35</div>
                    </div>
                    <div class="post-profile-picture">
                       
                    </div>
                </div>
            </div>
            <button type="button" class="btn-LoadMore" onclick="LoadMoreToggle()">Load More</button>
        </div>

        <!-- sidebar------------ -->
       
 
      <!-- Footer -->      
</body>
</html>